[2018-10-25 18:05] lowandrew opened #7 "Consistent order for base depth counts in _contamination output files"
Sometimes major base comes first, sometimes minor base comes first. Choose to have it one or the other and get it updated for the next release.

[2018-10-26 19:32] lowandrew commented on #7
Change made, will be pushed out with next release.

[2018-10-27 11:28] antunderwood opened #8 "Xmx option"
Hi.

I'm getting occasional weird errors where bbduk is specifing negative Xmx e.g -Xmx-205

Please can you add an option to override this for instance to specify -Xmx1g to the bbmap tools.

Thanks

[2018-10-29 12:40] lowandrew commented on #8
I've also had this problem very occasionally - I'll get a fix written and released in the near future!

[2018-10-29 13:58] lowandrew commented on #8
This has now been implemented in ConFindr 0.4.5 - the pypi package has been updated, and I'll get the conda package updated as well later today.

[2018-10-29 13:58] #8 closed, assigned to nobody

[2018-10-29 13:59] antunderwood commented on #8
Thanks for quick turn around. Building into my Docker image now and testing shortly :)

[2018-10-29 14:09] lowandrew commented on #7
Next release done, on PyPi, to be added to bioconda later today.

[2018-10-29 14:09] #7 closed, assigned to lowandrew

[2018-10-29 17:49] antunderwood commented on #8
Can confirm that's working nicely from PyPi and Conda. Thanks

[2018-11-05 21:13] andersgs opened #9 "DB location not writable"
Hi.

I am just trying out `confindr`. In our server setup, we have a `linuxbrew` user where we keep all tools for general use by all users (including the DBs). I have installed confindr as that user, and have setup the DB as that user and made sure everyone  "knows" where it is by using the CONFINDR_DB env variable.

However, when trying to run confindr as myself, I get the following error:

[code

[2018-11-05 21:23] andersgs opened #10 "Consider using SeqIO.index instead of looping through the whole FASTA."
While generating genus-specific DB, you loop through the whole DB:

[code]
Although, not tested, I think it might be faster if you index the FASTA:

[code]

Best. Anders.

[2018-11-06 14:58] lowandrew commented on #9
This is a case I hadn't considered - I'll get this implemented in the near future. The downside to this is that the way ConFindr works now you only ever have to set up a genus-specific database once, but if using a temporary file as the genus-specific database it'll have to get recalculated every time.

[2018-11-06 14:59] lowandrew commented on #10
I'd never come across `SeqIO.index` before - I'll test this out and see if it is faster.

[2018-11-06 15:49] lowandrew commented on #9
Now implemented - ConFindr 0.4.6 has a `-tmp` option which allows you to specify a directory to write genus-specific databases to and will get cleaned up at the end of a run (unless you specify the `-k` option to keep files). PyPi release has been updated, bioconda recipe will get updated later today.

[2018-11-06 15:49] #9 closed, assigned to lowandrew

[2018-11-06 15:51] lowandrew commented on #10
This gives a huge speedup, genus-specific database setup is 4-5 times faster now. Thanks for the suggestion, it's implemented in version 0.4.6!

[2018-11-06 15:51] #10 closed, assigned to lowandrew

[2018-11-06 17:33] andersgs commented on #9
Thank you @lowandrew. Yes, I was trying to think about how to best get around that issue of recreating it every time. I suppose if the user specifies a directory of their choosing and use the `-k` option it could be re-used.

[2018-11-06 17:34] andersgs commented on #10
Awesome. Happy it helped.

[2018-12-10 04:42] ammaraziz opened #11 "Error: Encountered error when attempting to run ConFindr on sample X. Skipping..."
Hi again,

I'm getting the following error:

  2018-12-10 14:02:57  Beginning analysis of sample X...
  2018-12-10 14:02:57  Checking for cross-species contamination...
  2018-12-10 14:03:52  Extracting rMLST genes...
  2018-12-10 14:04:05  Quality trimming...
  2018-12-10 14:04:06  Detecting contamination...
  2018-12-10 14:04:06  Encountered error when attempting to run ConFindr on sample X. Ski

[2018-12-10 14:51] lowandrew commented on #11
My first guess would be that something has gone wrong with the databases that ConFindr needs - try removing the `/home/aaziz/.confindr_db` folder and re-running the analysis, with a different output folder specified (if you've used the `-k` flag and try to re-run to the same output folder I'm pretty sure bad things happen).

If that doesn't work, you can try running ConFindr so that the error gets

[2018-12-11 01:33] ammaraziz commented on #11
Thanks for your help. The above script allowed me to narrow down the problem to... `samtools` again! Here is the error produced:

  File "<stdin>", line 6, in <module>
  File "/home/aaziz/bin/miniconda3/lib/python3.6/site-packages/confindr/confindr.py", line 584, in find_contamination
    out, err = run_cmd(cmd)
  File "/home/aaziz/bin/miniconda3/lib/python3.6/site-packages/confindr/confindr.py",

[2018-12-11 20:39] lowandrew commented on #11
I've got a new version (0.4.8) put onto pypi that both gets the error traceback printed out if anything goes wrong, and removes the dependency on `samtools`, instead using `pysam` for all samtools-related things.

You should be able to get it installed within your conda environment with a `pip install --upgrade confindr`. I'll get the release pushed out to conda at some point within the next few d

[2018-12-11 20:39] #11 closed, assigned to nobody

[2019-02-01 11:12] antunderwood opened #12 "Problems with confindr 0.5.1 install via conda"
I have installed version 0.5.1 with conda but have 2 problems

1. It reports
[code]
~~2. The confindr_database_setup script is not in the PATH~~

[2019-02-01 11:24] antunderwood commented on #12
Scratch item 2. I hadn't activated conda!!
Just the minor version issue remains

[2019-02-01 13:53] lowandrew commented on #12
Thanks for pointing this out! I had just been using a version variable I'd been setting manually within the script, which I forgot to update -  you should see ConFindr at 0.5.1 listed with `pip list`. I've gotten the script updated so that it pulls the version from setup.py so I won't have to remember to set the variable with each release, so everything should be good to go next time a release get

[2019-02-01 13:53] #12 closed, assigned to nobody

[2019-03-22 12:56] lowandrew opened #13 "Develop non-rMLST databases for priority pathogens"
The licence on the rMLST database is fairly restrictive, and having to email in order to get access is not optimal. Develop schemes for at least _Escherichia_, _Salmonella_, and _Listeria_ (maybe _Campylobacter_ as well) that can be licenced less restrictively and freely distributed.

[2019-04-08 18:10] lowandrew commented on #13
Implementation for Escherichia, Salmonella, Listeria complete as of commit https://github.com/OLC-Bioinformatics/ConFindr/commit/4c292617c3f270ebd5ff138cbc5a107f6d01200d (release 0.7.0)

[2019-04-08 18:10] #13 closed, assigned to lowandrew

[2019-05-23 14:35] pkmitchell opened #14 "kma exit status issue"
Hello,

I get the following error when running Confindr. Same error has occurred across multiple input files (all _Salmonella_).

I ran the kma command on its own and it seems to produce reasonable output with no obvious errors aside from returning an exit status of 1. Any idea why this might be occur? I am using ConFinder v 0.7.0 installed using conda. Same result has occurred with ConFindr insta

[2019-05-27 13:04] lowandrew commented on #14
That's odd, this is something I haven't seen before - can you let me know what version of `kma` you have installed in your environment? KMA got updated semi-recently, so it might be that the latest version doesn't play nicely.

It would also be helpful for me to be able to run ConFindr on your sequences; would you be able to send them to me so I can do some more in-depth debugging?

[2019-05-28 13:53] pkmitchell commented on #14
I have kma version 1.2.3 installed. I got the same result using the example data as well as files on SRA (E. coli: SRR5928129 & SRR5928130; Salmonella: SRR5666354 & SRR5666356).

[2019-05-28 14:02] lowandrew commented on #14
I've managed to reproduce your issue on my end - for me it was solved by downgrading the version of KMA that I had installed. Can you get KMA v1.2.0 installed in your conda env (`conda install kma==1.2.0`) and let me know if that fixes the issue for you too? If so I'll get the conda recipe updated so that the correct version of KMA is installed by default.

[2019-05-28 14:20] pkmitchell commented on #14
Changing the kma version fixed the issue on my end as well. Thanks!

[2019-05-28 15:24] lowandrew commented on #14
Should be fixed by https://github.com/bioconda/bioconda-recipes/pull/15626

[2019-05-28 15:24] #14 closed, assigned to nobody

[2019-06-20 18:16] wjidea opened #15 "PackagesNotFoundError"
Hi,

I attempted to install ConFindr using conda with the following command

`>conda install -c bioconda confindr
`
But, I get the following PackagesNotFound Error.

[code]

Wondering if you have a solution to this?

My conda is using Python 3.7.1.

[2019-06-20 18:24] lowandrew commented on #15
My guess is that something is wrong with the channel setup within conda. Have you gotten bioconda set up as detailed at https://bioconda.github.io/#using-bioconda?

For more troubleshooting, can you let me know what the output of `conda config --show channels` is? You should see something like this:
[code]

[2019-06-21 16:33] wjidea commented on #15
Yes, you are right. I didn't include conda-forge into my channels. I thought -c bioconda was enough.
Thank you for your prompt answer.

[code]

I fixed this issue by add conda-forge and bioconda channels into conda config using the following commands:

[code]

[2019-06-21 16:33] #15 closed, assigned to nobody

[2019-09-01 11:31] Lcornet opened #16 "KMA issue"
Dear Confindr team,

I would like to test confindr on a genome :
This is my script

#!/bin/bash
# Submission script for Vega
#SBATCH --time=1-06:00:00 # days-hh:mm:ss
#
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=20
#SBATCH --mem-per-cpu=2625 # megabytes
#SBATCH --partition=defq
#
# Uncomment the following line if your work
# is floating point intensive and CPU-bound.
### SBATCH --threads-per-core=

[2019-10-15 17:48] duceppemo opened #17 "Keep running when rmlst.fasta is empty"
`  2019-10-15 11:55:36  Beginning analysis of sample SRR1371311...
  2019-10-15 11:55:36  Checking for cross-species contamination...
  2019-10-15 11:55:57  Extracting conserved core genes...
  2019-10-15 11:56:04  Quality trimming...
  2019-10-15 11:56:06  Detecting contamination...
Traceback (most recent call last):
  File "/home/bioinfo/miniconda3/envs/confindr/bin/confindr.py", line 11, in <mo

[2019-12-04 15:21] luciagrami commented on #16
I have the same issue.

[2020-06-18 14:53] anacristinareis opened #18 "Error when running confindr.py"
Hello,

When I try to run ConFindr the following error occurs:
File "/Users/miniconda3/lib/python3.7/site-packages/confindr_src/confindr.py", line 1045, in confindr
    min_matching_hashes=min_matching_hashes)
  File "/Users/miniconda3/lib/python3.7/site-packages/confindr_src/confindr.py", line 767, in find_contamination
    out, err = run_cmd(cmd)
  File "/Users/miniconda3/lib/python3.7/site-pack

[2020-07-28 15:38] adamkoziol commented on #18
Hi!
Your command should work as written, so that isn't the problem. What sequences are you trying to process?
I've updated ConFindr to version 0.7.3 on bioconda. Are you willing to try the new version and see if you are getting the same error message?

Thanks!

[2020-07-28 15:40] adamkoziol commented on #17
I've updated ConFindr to 0.7.3 on bioconda, and I think the new version addresses your issue.

[2020-07-28 15:42] adamkoziol commented on #16
Hi!

Sorry for the extremely long delay in responding to your issue - I only recently realised that once I took over this project, I wasn't automatically subscribed to it.

Looking into the code, the reason it is looking for the fastq.gz files, is that the program uses generic names when creating and processing files. I've updated ConFindr to 0.7.3 on bioconda, and I think the new version addresse

[2020-08-14 14:57] mdabalkey opened #19 "input fasta"
When running ConFindr with --fasta, I get the following error?   Running fastq files is ok.  Is Confindr designed to work on assembled files?  It has the fasta option, seems like it should but it doesn't work.

  **--fasta               If activated, will look for FASTA files instead of
                             FASTQ for unpaired reads.**
Traceback (most recent call last):
  File "/nfs/softwar

[2020-08-14 17:07] adamkoziol commented on #19
I've recently updated ConFindr to version 0.7.3 on Bioconda. It contains a few fixes for handling FASTA files. Are you willing to try the new version to see if it addresses your issue?

[2020-08-14 20:20] mdabalkey commented on #19
I tried the new version but I got a very similar error.
Traceback (most recent call last):
  File "/nfs/software/apps/ConFindr/0.7.3/confindr_src/confindr.py", line 1051, in confindr
    find_contamination(pair=fastq,
  File "/nfs/software/apps/ConFindr/0.7.3/confindr_src/confindr.py", line 673, in find_contamination
    out, err, cmd = bbtools.bbduk_trim(forward_in=os.path.join(sample_tmp_dir, 'r

[2020-08-17 15:26] adamkoziol commented on #19
Based on the supplied traceback, you are using an assesmbly for SRR2038680? I'll try to run that through ConFindr, and debug it on my end.

[2020-08-17 22:28] mdabalkey commented on #19
yes, I assembled with SKESA and run it with: confindr.py -i SRR2038680_assembly -o assembly_results --fasta -d path/to/database

[2020-08-20 11:51] mdabalkey commented on #19
I know it works with fastq files but I want to make sure that the functionality for fasta files works.  If it does, I will have to check my environment.  Would it be possible to confirm that the tool works with fasta files?  Thank you!

[2020-08-20 14:31] adamkoziol commented on #19
It is supposed to work with FASTA files.
I've been trying to resolve your issue on my end. Making some progress.

[2020-08-20 18:53] adamkoziol commented on #19
It looks like the issue was due to a bug where if the -Xmx flag was not included, confindr was looking for the wrong input file. Version 0.7.4 has been uploaded to Bioconda, and it includes this fix. Additionally, you can include the -Xmx flag with an appropriate memory value to get it to work in version 0.7.3.

Please let me know if this addresses the issue.

[2020-08-21 18:07] mdabalkey commented on #19
Thank you for checking on this issue, the new version works for fasta files.

[2020-08-21 18:07] #19 closed, assigned to nobody

[2020-08-28 16:02] crashfrog opened #20 "ConFindr conda install dependencies can't be solved"
[code]

[2020-08-28 17:01] crashfrog commented on #20
Oh, I think I may have identified the issue - the Bioconda recipe depends on `rauth`, which isn't actually in bioconda, it's in conda-forge. That might be enough for me to get it working.

[2020-12-11 17:50] connerse opened #21 "Error when attempting to run ConFindr on sample"
Hi there

When trying to run Illumina reads through ConFindr, the following error occurs:

Error encounted was:
Traceback (most recent call last):
  File "/Users/boselab/miniconda3/lib/python3.8/site-packages/confindr_src/confindr.py", line 962, in confindr
    find_contamination(pair=pair,
  File "/Users/boselab/miniconda3/lib/python3.8/site-packages/confindr_src/confindr.py", line 587, in find_c

[2021-02-01 18:11] adamkoziol commented on #21
Hi Eric,

Sorry for the delay in responding - I've been on leave.

Are you still having this issue? If so, are you able to upgrade to 0.7.4? There's a few fixes in there that might help.

Have you been able to successfully run ConFindr on the example dataset (details can be found here: https://github.com/OLC-Bioinformatics/ConFindr#quickstart)

If you're still having issues, downgrading Python to

[2021-02-02 11:00] fredericQC opened #22 "Single-end/Paired-end results discrepancies"
Hello there,
We sequenced 643 bacterial samples with PE250.
I used ConFindr to find any cross-contaminations between them and half of them (319) resulted in a contaminated status (with a mean estimated contamination level of 10%).
Trying to understand why, one of my test was using ConFindr, but on each read individually (R1 and R2 instead of both together).
This gave me 556 samples being clean and

[2021-02-02 11:33] fredericQC commented on #22
Looking at the *contamination.csv files, most contamination calls were made using only 2 reads (the minimum threshold I think),
so it might just be noise (hopefully).

[2021-02-02 13:07] adamkoziol commented on #22
Hi Fred,

That is a very large discrepancy. I believe that you're correct that the calls were due to to noise. I'm currently working on updates to ConFindr that integrate read overlap, coverage, and quality scores to determine appropriate cutoffs, which should (hopefully) address this particular issue.

In the meantime, are you willing to downsample a few of the reads to confirm that it is, in fac

[2021-02-02 15:57] fredericQC commented on #22
Hi Adam,
Thanks for the support and for this software.
I will think about it, but i'm not sure if it's worth it.
I say this because I just tried using both reads (PE) with  '-b 3', so raising the limit to 3 instead of 2, and now only 9 samples are contaminated (instead of 319).
Also, when I look at the *contamination.csv for those 9, they have higher contaminants reads number (>4), more loci affec

[2021-03-01 15:32] SShaminur commented on #20
Can be solved via
create a new environment in conda and hit

`conda install confindr`

Ref [here](https://bioconda.github.io/recipes/confindr/README.html)

[2021-03-17 16:19] vappiah opened #23 "Trimmed or Untrimmed reads?"
Dear developers,

I would like to identify contamination in my Salmonella genomes. What is the acceptable way to run? Before or after trimming of the raw paired reads.

[2021-03-18 13:11] adamkoziol commented on #23
Hi Vincent,

We don't trim reads before processing with ConFindr. As part of its workflow, ConFindr, by default, requires the quality score of a base to be 20 in order to be counted. However, if you have particularly low quality reads and/or high sequencing depth, you might find that trimming reduces the number of false positive calls.

Best,
A

[2021-03-19 01:02] vappiah commented on #23
Thanks @adamkoziol

[2021-03-19 01:02] #23 closed, assigned to nobody

[2021-05-05 08:12] ajkarloss opened #25 "Installation errors using conda/bioconda"
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: -
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

UnsatisfiableError:

Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. R

[2021-05-05 18:03] jashay90 commented on #25
Hi ajkarloss,
What version of conda/python are you using?

[2021-05-14 09:53] ajkarloss commented on #25
Thanks, We fixed it already. Are you guys planning to add this tool to GalaxyTool shed?

[2021-05-21 10:02] anacristinareis commented on #18
Hi,

Sorry, for the late response. Your suggestion sove the problem.

Thanks for all your help.

[2021-05-21 19:36] jashay90 commented on #25
Another group has already put confindr on Galaxy Tool Shed:
https://toolshed.g2.bx.psu.edu/repository?repository_id=cfe0b71273fe28e3&changeset_revision=c8158764b7a7

[2021-05-21 19:36] #25 closed, assigned to nobody

[2021-07-16 08:27] SithWijesinghe commented on #21
Hi @adamkoziol , I think I'm getting a similar error to this but on version 0.7.4. I'm using an HPC with Ubuntu 20.04.2 and python 3.7.10. So I'm a bit unsure whether it's relevant to this issue or should be a new one. What do you reckon?

Command:

When I tried the example dataset with the same command, it works (detects 214 SNVs)

When I tried it on a paired end sample (MS14811_R1.fastq.gz and M

[2021-07-22 02:33] SithWijesinghe commented on #21
Ok, I have an update. I used a cleaned up read file (Trimmed with trimmomatic and other species reads removed with kraken2) of the same sample, and it worked for that one. Confindr threw the same error because I included the raw fastq files as well in the analysis, but I have a result for cleaned up files which I'm happy with.

Sample,Genus,NumContamSNVs,ContamStatus,PercentContam,PercentContamSta

[2021-10-02 21:42] mdabalkey opened #26 "SamtoolsError"
Hello,

I have successfully processed several assemblies with Confindr but I have 15 records with an output similar to the indicated below.

sample001,Escherichia,ND,Pysam SamtoolsError,ND,ND,0,N

Could you please let me know the reason for this type of errors?

Thank you

[2021-10-26 08:40] KasiaTluscik opened #27 "problems with confindr rMLSt database"
Hi :)

I am having trouble with getting the rMLST database for confindr. following the instructions gets such an error:

Traceback (most recent call last):
  File "/home/msszwarc/miniconda3/envs/confindr/bin/confindr_database_setup", line 10, in <module>
    sys.exit(main())
  File "/home/msszwarc/miniconda3/envs/confindr/lib/python3.6/site-packages/confindr_src/database_setup.py", line 270, in ma

[2021-10-26 19:53] adamkoziol commented on #27
Hi Kasia,

I took a look at this issue, and I'm not quite sure why it's happening. The best I can figure is that something changed within BioPython, and the record.seq._data protected attribute is now encoded. The odd thing is that I could recreate this issue with my Python 3.6 environment, but not my Python 3.8 testing environment.

I ended up replacing line 209 in database_setup.py with a try/ex

[2021-10-26 20:03] adamkoziol commented on #26
Hi! Sorry for the delay in getting back to you.

The SamtoolsError is a very general error indicating that the pysam library had an issue parsing the files. Unfortunately, it's not very descriptive. I've included a try/except SamtoolsError statement in the code to catch these errors, so that the entire program doesn't crash when they occur.

If you don't mind helping me debug your issue, could you

[2021-11-10 08:16] jenmuell commented on #27
Hello A,

I ran into the same problem with both Python versions (3.7 and 3.8). Your code snippet solved the problem for Python 3.8 and I haven't tried it with Python 3.7.

[2021-12-08 13:55] EricDeveaud opened #29 "DB indexing (samtools, kma):: DB location not writable"
Hello,
related to #9
I was asked to install ConFinder on our cluster, our installation scheme is to install stuff on a shared NFS **read-only** drive.

I proceeded with the pipy confindr-0.7.4.tar.gz

compute nodes does nnot have access to internet, so we need to prepare the DBs for our users and we want to avoid multiples copies of `~/.confidr`

so I've setup the databases using `confindr_databas

[2021-12-08 14:11] adamkoziol commented on #29
This seems like a very reasonable suggestion.

[2021-12-08 15:36] EricDeveaud opened #30 "ConFindr :: problem with bbtools"
Hello while running the example test set with bbtoos version 38.01 with --rmlst (dunno if this make sense or not) option on I had the follwoing error message

tested with bbtools version bbmap/37.78  bbmap/38.91

[code]

that was  due to
[code]

regards

Eric

[2021-12-08 15:44] adamkoziol commented on #30
Are you able to take a look at /opt/gensoft/exe/ConFindr/0.7.4/share/Escherichia_db.fasta to confirm that the file hasn't been corrupted (or something else is wrong with it)? BACT000001_10671 is the first entry in the file, and should be 1674 bp long.

[2021-12-08 15:51] adamkoziol commented on #30
Also, just to confirm, you do have the credentials required to download the rMLST databases [as mentioned in the docs](https://olc-bioinformatics.github.io/ConFindr/install/#:~:text=RAM%20or%20more.-,Downloading%20ConFindr%20Databases,-As%20of%20ConFindr)?

[2021-12-08 15:52] EricDeveaud commented on #30
hummmm
[code]

where does `b'` come from ?

[2021-12-08 15:54] EricDeveaud commented on #30
yes RMLST already downloaded and available in CONFINDR_DB

[code]

[2021-12-08 15:55] adamkoziol commented on #30
Bytes. I wonder if the encoding has changed by default in one of the downloading or formatting libraries used to create those files.

[2021-12-08 15:57] adamkoziol commented on #30
Can you check rMLST_combined.fasta to see if it is also in bytes?

[2021-12-08 15:58] EricDeveaud commented on #30
yes bytes in python, but they should not appear in fasta files
I'll try to check who's guilty.
we can already skip downloading as original files are OK

yes `rMLST_combined.fasta` is also in bytes repr

[2021-12-08 16:01] EricDeveaud commented on #30
which version of Python//Biopython are you using ?
here `Python/3.8.1` // `biopython-1.79`

[2021-12-08 16:05] EricDeveaud commented on #30
trying right now with biopython-1.78

[2021-12-08 16:08] adamkoziol commented on #30
Yes.... now I know why this sounded familiar. I believe that issue #27 is related.

[2021-12-08 16:09] EricDeveaud commented on #30
yes I already have patched line 209 of database_setup.py

[2021-12-08 16:13] EricDeveaud commented on #30
with biopython-1.78 no trouble

[code]
waiting for Escherichia_db.fasta to be generated

Escherichia_db.fasta OK too

`confindr.py -i example-data -o example-out --rmlst` also ran successfully

[2021-12-14 15:46] EricDeveaud commented on #29
hello
I'm currently taking a look at how db can be indexed by `confidr_database_setup`

if I understand correctly
there is 2 possible options:
1) no rMLST
all $GENERA_db_cgderived with GEERA in  Escherichia, Listeria and Salmonella should be indexed sam indexed and  by KMA with corresponding name
[code]
is this correct

2) with rMLST files present
same as above
and $GENERA_db.fasta + fai indexes m

[2021-12-15 14:40] adamkoziol commented on #29
It is.

However, since the rMLST database is designed to cover all prokaryotic genera, I am working on a fix by creating a set of all genera stored in the profiles.txt file, and making the allele-specific database for each one. This way, ConFindr won't crash when you process an _Enterococcus_, for example.

As you might expect, this will take a very long time - probably at least 24 hours, so you w

[2021-12-15 14:57] EricDeveaud commented on #29
Hello

great news.
time won't be a problem

thnaks

[2022-02-07 11:52] ysevel opened #32 "problem installing the rMLST database with confindr 0.7.4"
Hi,

I'm trying to install the rmlst database for all orgnism and I have run into an error with the confindr 0.7;4 version:

(base) y_sevellec@LAPTOP-ESE47E7K:/mnt/c/Users/yseve/Documents/test_univ_Renne$ confindr_database_setup -s login_pubmlst.txt
Traceback (most recent call last):
  File "/home/y_sevellec/miniconda3/lib/python3.9/site-packages/pkg_resources/__init__.py", line 568, in _build_mas

[2022-02-07 13:58] adamkoziol commented on #32
Hi Yann,

I'm wondering if your problem is from your version of Python.

Could you please try creating a Python 3.7 conda environment to see if it addresses the issue.

`conda create –n confindr python=3.7`
`conda activate confindr`
`conda install –c bioconda mash=2.3`
`conda install –c bioconda confindr`

Alternatively, if that gives you an error, another user had success installing ConFindr as f

[2022-02-07 16:08] ysevel commented on #32
Hi Adam,

So I now can download the database but I got a new error when the script try to combine the files:

 2022-02-07 17:04:55  Combining rMLST files...
Traceback (most recent call last):
  File "/home/y_sevellec/miniconda3/envs/confindr_test/bin/confindr_database_setup", line 10, in <module>
    sys.exit(main())
  File "/home/y_sevellec/miniconda3/envs/confindr_test/lib/python3.7/site-package

[2022-03-11 16:16] bala-ruokavirasto opened #33 "Request details on programmatic database setup for confindr"
Hi,

I used the below command:
confindr_database_setup -s key_secret.txt -o confindr_database/

And obtained the database for only three species as below:
confindr_database$ ls
Escherichia_db_cgderived.fasta  Salmonella_db_cgderived.fasta  gene_allele.txt  rMLST_combined.fasta
Listeria_db_cgderived.fasta     download_date.txt              profiles.txt     refseq.msh

However, I need the db_cgderiv

[2022-03-14 14:10] adamkoziol commented on #33
Hi Bala,

Since you have the rMLST database, you don't need the CGE-derived files. Just run ConFindr in rMLST mode (use the `--rmlst` flag), and any bacterial genus should be able to be processed.

A

[2022-03-14 14:23] bala-ruokavirasto commented on #33
Hi,

Thanks for the reply!

I tested as you mentioned and got the results below:
$cat ecoli_test/results/confindr/confindr_report.csv
Sample,Genus,NumContamSNVs,ContamStatus,PercentContam,PercentContamStandardDeviation,BasesExamined,DatabaseDownloadDate
FIAR-847_S5_1_trim,Escherichia,0,False,0,0,38310,ND
FIAR-847_S5_2_trim,Escherichia,0,False,0,0,38310,ND
$cat salmonella_test/results/confindr/conf

[2022-03-14 15:03] adamkoziol commented on #33
Based on the fact that the _Escherichia_ samples had 38310 bases as the bases examined, it looks like you're still not using the `--rmlst` mode. Could you please include the command line call to ConFindr you used?

The bases examined are the total number of bases present in the sequence files containing the alleles returned by the KMA screen (this can be printed to the screen using the `--verbosit

[2022-03-25 09:12] Cryphonectria commented on #30
Hi,
I'm getting a similar error message as Eric when running
[code]

Error message:
[code]

However the `confindr_log.txt` says:
[code]
`refseq.msh` seems to be a binary file in my case...
I'm using confindr 0.7.4, mash 2.3 and BBMap 38.45

My confindr_db looks like this
[code]

Thanks,
Lea

[2022-03-25 13:50] adamkoziol commented on #30
I believe `refseq.msh` should be a binary file.

What versions of BioPython and Python are you using?

Can you run the BBduk command separately to see if there's any useful output? `bbduk.sh in=confindr_test/F207_R1.fastq.gz in2=confindr_test/F207_R2.fastq.gz outm=out_test/F207/rmlst_R1.fastq.gz outm2=out_test/F207/rmlst_R2.fastq.gz ref=/home/schlae0003/GROUP/taxanomy_databases/confindr_db/rMLST_c

[2022-03-25 18:15] Cryphonectria commented on #30
I'm using Python=3.7 and BioPython=1.78

When running the BBduk command separately, I realised that there was a memory issue. Normally this would give me a core dump or "out of memory" message on the cluster, but for some reason it didn't... I was able to fix the problem by going overboard with memory:`threads=2 Xmx=64g` (I'm working with bacteria, fastq.gz files around 500M).  Now confindr also r

[2022-04-08 10:49] bjhall opened #35 "Hardcoded path to refseq.msh does no exists"
This line hardcodes the path to refseq.msh

https://github.com/OLC-Bioinformatics/ConFindr/blob/6ac5420180bf7bdf4dd6c7d651d54cd841b6107e/confindr_src/database_setup.py#L228

This file does not appear to exist any longer. I am guessing the branch was renamed from `master` to `main` recently?

Since this breaks every old version of confindr I would suggest you recreate a `master` branch with this fi

[2022-04-08 13:04] adamkoziol commented on #35
Excellent point. Thank you for pointing this out. I have recreated the master branch.

[2022-04-08 13:04] #35 closed, assigned to nobody

[2022-05-20 17:45] jacquikeane commented on #32
Any progress on this? I am seeing the same error as @ysevel  reported above "TypeError: a bytes-like object is required, not 'str'". I have confindr 0.7.4 installed via miniconda and my Python version is 3.7.12. Mash 2.3 is also in the environment.

[2022-05-24 22:37] lskatz opened #36 "Running ConFindr with weird internet access"
Hi, I have some cgMLST databases and have formatted one of them with confindr but it still tries to download other databases when it initializes.  I am behind a funky firewall and so I want to try to run this without internet access.  How can I tell it to just look at one database and not try to download others?  Or is this sort of the wrong way to think about things?  Thank you for any help.

[co

[2022-05-24 22:41] lskatz commented on #36
Or also I tried with 7-gene MLST to just get started and it doesn't seem to work there either:

[code]

[2022-06-09 15:27] ysevel commented on #32
Hi, nope, I still have no solution on this. does anyone have a already compiled version of the database somewhere?

[2022-06-09 19:47] annacorreia commented on #32
Hi, I had the same problem and am using Confindr 0.7.4, Python 3.7.12, Mash 2.3. I managed to sort out the problem by editing the file database_setup.py and using Adam's advice from here: https://github.com/OLC-Bioinformatics/ConFindr/issues/27#issuecomment-952268919

[2022-06-20 13:30] ysevel commented on #32
Thank you very much for this tip! The fix work partially:
I was abke to generate the dataset but when running confindr I got the following error when running confidr with --rmlst. the cgMLST databse work just fine but with rMLST databases I got the following error:

  File "/home/genouest/cnrs_umr6553/ysevellec/.conda/envs/confindr/lib/python3.7/site-packages/confindr_src/confindr.py", line 1067,

[2022-06-28 00:29] annacorreia opened #38 "bbtools error"
**Hi, I'm trying to run confindr on some Klebsiella fastq files but am having some problems with bbtools.**

**I started out using Confindr=0.7.4, mash=2.3 and Python 3.7.12.**

**Some things I have tried that haven't worked:**
**- ammending line 209 of database_setup.py (this worked)**
**- downgrading from biopython 1.79 to 1.78**
**- trimming fastq files with trimmomatic first**
**- changing bbm

[2022-08-10 15:38] duceppemo opened #39 "Wrong phred score base with low quality Nanopore data"
I'm playing with confidr and Nanopore data right now and get an error from bbduk_bait.
[code]
Running the bbduk command to have a more explicit error message gave:
[code]

The error is caused because the quality scores are low and bbduk sets automatically the phred score base to 64 instead of 33. Maybe it adding an option to set the phred score scheme would help resolve that issue. Or you could si

[2022-08-23 19:12] pcrxn commented on #38
Hi @annacorreia—sorry for the delayed response! I've tested some _Klebsiella_ genomes using ConFindr v0.7.4, with mash=2.3 and python=3.7.12, and the rMLST alleles for _Klebsiella_ seem to be downloaded correctly and ConFindr runs without error.

Based upon the logs that you've included, it seems that the encoding of the _Klebsiella_ rMLST alleles file (`Klebsiella_db.fasta`) became messed up some

[2022-08-23 19:27] pcrxn commented on #38
Related to #30, issue with the biopython version. If your biopython version has been downgraded to 1.78, the above instructions should work!

[2022-08-27 07:49] rafalkolenda opened #40 "Error while running kma"
I was thinking that I was able to get through the hard process of installing this software, but after some success with few reads I got this error:

subprocess.CalledProcessError: Command 'kma -ipe /home/ubuntu/kingsley-group/Food_Isolates/ConFindr/MC1883-1887-29_S55_/trimmed_R1.fastq.gz /home/ubuntu/kingsley-group/Food_Isolates/ConFindr/MC1883-1887-29_S55_/trimmed_R2.fastq.gz -t_db /home/ubuntu/k

[2022-09-09 15:49] pcrxn commented on #39
Hi @duceppemo, thanks for pointing this out—we'll implement one of those two options into the upcoming version of ConFindr (probably the hard-coding).

[2022-09-09 15:57] pcrxn commented on #40
Hi @rafalkolenda, could you please provide the command that you used to run ConFindr, the names of your files, and the output of running `ls` on the directory containing your files?

[2022-09-09 16:03] pcrxn commented on #26
Closed due to inactivity.

[2022-09-09 16:03] #26 closed, assigned to nobody

[2022-09-09 16:20] pcrxn commented on #16
Closed as the fix has been implemented.

[2022-09-09 16:20] #16 closed, assigned to adamkoziol

[2022-09-12 15:04] rafalkolenda commented on #40
Hello,
command:
from confindr_src import confindr

[code]
Name of my files: MC1883-1887-29_S55_R1_001.fastq.gz, MC1883-1887-29_S55_R2_001.fastq.gz
ls of directory containing the results of my run:
A20__contamination.csv      LA_GT63__rmlst.csv
A20__rmlst.csv              LA_GT64__contamination.csv
B101__contamination.csv     LA_GT64__rmlst.csv
B101__rmlst.csv             LA_GT65__contamination.csv

[2022-09-15 07:09] pimarin commented on #27
Hello, I encounted the same problem and I modified the python script by removing the _data
before `record.seq._data = str(record.seq._data).replace('-', '').replace('N', '').encode()`
after `record.seq = str(record.seq).replace('-', '').replace('N', '').encode()`

because the replace work on object but the record.seq._data give a string
this solve the problem and work also fine

[2022-09-20 14:44] juliofdiaz opened #41 "Issues setting up DB"
Dear Confindr team,

 I’m trying to install database for confindr (v. 0.7.4, python=3.6), but I am running into some problems. Specifically, I am getting the following error:

[code]

The code I’m using to setup the db is :
`confindr_database_setup -s key -o confindr_db`

Have you seen this error before, or do you have any clues as to how to solve it? Thanks in advance

[2022-09-20 16:39] pcrxn commented on #41
Hi @juliofdiaz,

This issue is the same as #27—you can either change your BioPython version to 1.68, or perform the manual fix as described in https://github.com/OLC-Bioinformatics/ConFindr/issues/27#issuecomment-952268919.

Edit: Previously referenced the wrong issue.

[2022-09-21 01:52] juliofdiaz commented on #41
Thank you @pcrxn
It seems like the manual fix worked, but I was only able to download the  Escherichia, Salmonella, and Listeria dbs.  Here is how I am running the setup:

[code]

It seems I have only downloaded  the Escherichia, Listeria, and Salmonella dbs. I am interested in the Mycobacterium one, and it seems I am registered for it:
<img width="676" alt="Screenshot 2022-09-21 at 02 45 56" src=

[2022-09-21 17:31] pcrxn commented on #41
Hi @juliofdiaz,

Only alleles for Escherichia, Listeria, and Salmonella are downloaded by default. If you use ConFindr to analyze a sample of a different genus, alleles will be automatically downloaded for that other genus and saved in your database path, including for Mycobacterium.

[2022-09-21 19:24] pcrxn commented on #40
Hi @rafalkolenda,

Thanks for sharing that output. Can you please run the following within the same environment as before, and share the output?

 `kma -ipe /home/ubuntu/kingsley-group/Food_Isolates/ConFindr/MC1883-1887-29_S55_/trimmed_R1.fastq.gz /home/ubuntu/kingsley-group/Food_Isolates/ConFindr/MC1883-1887-29_S55_/trimmed_R2.fastq.gz -t_db /home/ubuntu/kingsley-group/Rafal_Kolenda/confindr_data

[2022-09-22 00:27] juliofdiaz commented on #41
Thank you Liam. I reran confindr, and it did download the Mycobacterium db (`Mycobacterium_db.fasta`). Confindr did run into a problem trying to run  `bbduk.sh` . If this is not related to the original question, I can raise a different isuue.

[code]

[2022-09-26 15:29] pcrxn commented on #41
No problem, @juliofdiaz!

After you receive the bbduk.sh error, could you please run the following command and share the output?

`bbduk.sh in=/well/aanensen/projects/amr-landscape/confindr/mtuberculosis/DRR019435/DRR019435_1.fastq.gz in2=/well/aanensen/projects/amr-landscape/confindr/mtuberculosis/DRR019435/DRR019435_2.fastq.gz outm=/well/aanensen/projects/amr-landscape/confindr/mtuberculosis/DRR

[2022-09-26 15:50] juliofdiaz commented on #41
Here is my output:
[code]

For some reason, sequence BACT000001_159 incldes a `b'` at the begining and a `'` at the end:

[code]

[2022-09-26 16:29] juliofdiaz commented on #41
I tried this settings as mentioned in post #30, but the outcome was the same as the above:

[code]

[2022-09-26 17:29] pcrxn commented on #41
Hi @juliofdiaz, after you changed your BioPython version to 1.78, did you delete the old rMLST files and re-download?

[2022-09-29 11:19] juliofdiaz commented on #41
Deleting the old rMLST files and re-downloading did the trick. Here is how I set up the conda environment:
[code]

[2022-09-29 11:19] #41 closed, assigned to pcrxn

[2022-10-18 06:19] cjdgug opened #42 "Error when running ConFindr on unusual oganisms"
Hi
I find ConFindr with --rmlst works very nicely for me most of the time, however when I try to use it on reads for more uncommon species, it will encounter an error and skip that sample. I have noticed this for Neisseria cinerea, Corynebacterium pseudodiphtheriticum, Listeria grayi, and Klebsiella variicola; all genre where ConFindr works very well to identify to the genus level most of the time

[2022-10-18 19:29] pcrxn commented on #42
Hi @cjdgug, could you please run that command shown below and paste the output here?

[code]

[2022-10-19 00:00] cjdgug commented on #42
sure:
BBDuk version 37.62
Set threads to 4
Initial:
Memory: max=866m, free=842m, used=24m

java.lang.OutOfMemoryError: Java heap space
	at kmer.AbstractKmerTable.allocLong1D(AbstractKmerTable.java:150)
	at kmer.HashArray1D.resize(HashArray1D.java:149)
	at kmer.HashArray.setIfNotPresent(HashArray.java:190)
	at jgi.BBDukF$LoadThread.addToMap(BBDukF.java:1924)
	at jgi.BBDukF$LoadThread.addToMap(BBDuk

[2022-10-19 06:30] cjdgug commented on #42
I still had this error on one of my samples on the larger machine, but this was a rubbish sample with no reads. When I ran the bbduk.sh command that caused the error:

BBDuk version 37.62
Set threads to 24
Initial:
Memory: max=25918m, free=25377m, used=541m

Added 846536239 kmers; time: 	98.320 seconds.
Memory: max=24797m, free=10311m, used=14486m

Input is being processed as paired
Started output

[2022-10-19 14:21] pcrxn commented on #42
Indeed, it looks like Java is being killed because using `-Xmx8g` requests 8GB memory, which is the same as the total memory available on that machine. Because of other processes running in the background, the program is unable to access the full 8GB memory and is being killed. You could try running on that machine with `-Xmx6g`, for example, which might be enough memory for `bbduk.sh` to run with

[2022-10-21 00:50] cjdgug commented on #42
Thanks
For the rubbish sample, the error is the same as when it runs out of memory: at lines 1067, 629, 258, and 16 with the bbduk returning a non zero exit, except when I run the offending command on its own it seems to work fine. So it is odd that it errors, rather than just giving an NA output. Obv. I shouldn't even need to run it for this sample, so this is NBD. For the others, it is still str

[2022-10-21 18:20] pcrxn commented on #42
Hi @cjdgug, would you be able to attach a link to one or more of the problematic FASTQ file pairs?

[2022-10-25 04:16] cjdgug commented on #42
This is not my own data, but I tried some from SRA. This is a Listeria grayi which has the same issue, i.e. gives NA in the report for genus ID, but does identify to the genus and species level with rMLST:
https://trace.ncbi.nlm.nih.gov/Traces/?view=run_browser&acc=SRR11343989&display=metadata

[2022-11-04 14:32] joergFLI opened #43 "confindr_database_setup"
Dear  ConFindR-Team,

after successfull installation using conda and successfully running your example data, I fail in downloading the rmlst data. My problem is that the script confindr_database_setup is not included within conda3/envs/confindr/bin/

Any idea?

[2022-11-05 12:59] evezeyl commented on #43
[database_setup_modified.zip](https://github.com/OLC-Bioinformatics/ConFindr/files/9943856/database_setup_modified.zip)
Hi, I am reinstalling myself - Last time I had to modify a bit the setup script (if I remember well it was just a minor modification).
I am reusing that and it worked.

Some of the schemes are under licence, eg rmlst scheme you will need to ask for a licence in pubMLST, during th

[2022-11-07 14:28] pcrxn commented on #43
Hi @joergFLI, could you please try installing the latest version of ConFindr into a new Conda envirionment by running `conda create -n confindr -c bioconda confindr=0.7.4`?

`confindr_database_setup` should be located within the Conda environment's `bin/` directory, so I'm not sure why it wouldn't be appearing for you there, unless an older version of ConFindr was installed by Conda, perhaps?

[2022-11-07 16:21] pcrxn commented on #42
Hi @cjdgug, I'm sorry for the slow response!

I downloaded this genome and processed the FASTQ files using ConFindr v0.7.4. The genus is being reported as ND because 88/1000 shared-hashes of the _L. grayi_ genome with _L. monocytogenes_ are being detected using `mash screen`, and ConFindr looks for a cutoff of 150 shared-hashes by default (this can be adjusted using the `-m`/`--min_matching_hashes

[2022-11-14 11:51] elina2410 opened #44 "E. coli db issue"
I tried to analyse Escherichia coli fastq files. (example_R1.fastq.gz and example_2.fastq.gz)
I obtained .csv file but the result is not as expected.
Sample: example , Genus: NA , NumContamSNVs: 0, ContamStatus: False , PercentContam: NA, PercentContamStandardDeviation: NA, BasesExamined: 0, DatabaseDownloadDate:NA

 confindr.py -i example-data -o output
  2022-11-14 12:22:40  Welcome to ConFindr

[2022-11-18 15:53] pcrxn commented on #44
Hi @elina2410, could you please try installing the most recent version of ConFindr into a new Conda environment with `conda create -n confindr -c olcbioinformatics confindr=0.7.4`, and then processing the data again with that environment active?

[2022-11-18 15:55] pcrxn commented on #43
I'll close this in a couple of weeks if there's no more activity.